/* GENERICS */
:root {
  --blue: #1b72e8;
  --yellow: #ff8f00;
  --white: #ffffff;
  --black: #000000;
  --grey: #acacac;
  --aside: #051e34;
}

.wrapper {
  height: 100vh;
}

/* UTILS */
.row {
  width: 100%;
}

/* STRUCTURE */
#navbar {
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#navbar .container-fluid {
  line-height: 80px;
}

#navbar .cards img:last-child {
  height: 60px;
}

#search-bar input {
  border-left: none;
  background-color: #e9ecef;
}

.col-1.col-lg-2.rd {
  gap: 15px;
}

.col-1.col-lg-2.rd > .icons:last-child {
  color: var(--yellow);
}

/* ASIDE */
#aside {
  min-width: 70px;
  background-image: url(../img/sidebar-bg.png);
  background-color: var(--aside);
  color: var(--white);
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
}

#aside .aside-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 0;
}

#aside .aside-row .icons:nth-child(3) {
  margin-bottom: auto;
}

/* MAIN CONTENT */
#main-content {
  height: calc(100vh - 80px);
  width: calc(100% - 70px);
  position: fixed;
  right: 0;
  bottom: 0;
}

/* HEADER-MAIN */
#header-main {
  background-color: var(--blue);
  color: var(--white);
  padding: 15px 0;
}

#header-main .mh-row {
  flex-direction: column !important;
  align-items: start;
  gap: 20px;
}

.mh-cards.st h2 {
  display: inline;
}

.text-bg-primary {
  background-color: RGBA(0, 0, 0, var(--bs-bg-opacity, 0.3)) !important;
}

.mh-cards > h5 {
  font-size: 13px;
  font-weight: 100;
}

.mh-cards.nd > p {
  font-size: 40px;
}

.mh-cards.rd > h5 {
  display: inline;
}

.mh-cards.rd > button {
  margin-left: 10px;
}

/* MC-CARDS */
#mc-cards .container-fluid {
  display: flex;
  justify-content: center;
}

/* OFFCANVAS */
.offcanvas.offcanvas-end {
  max-width: 768px;
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  #header-main .mh-row {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  #header-main .mh-cards.rd {
    order: 3;
  }

  #header-main .mh-cards.st {
    order: 1;
  }

  #header-main .mh-cards.nd {
    order: 2;
  }
}

@media screen and (min-width: 992px) {
  #aside {
    min-width: 130px;
  }

  #main-content {
    width: calc(100% - 130px);
  }
}

/* DEBUG */
.box {
  height: 50px;
  background-color: green;
}

.bordered {
  border: 1px solid red;
  min-height: 50px;
}

.bg {
  background-color: rebeccapurple;
}
